<button type="button" class="btn btn-primary btn-lg btn-block" (click)="hideForm = !hideForm">Add Item</button>
<br>
<form (ngSubmit)="formSubmit()" #budgetForm [ngbCollapse]="hideForm">
  <div class="form-group">
    <label for="name">Budget Item Name</label>
    <input
      name="name"
      type="text"
      class="form-control" 
      [(ngModel)]="model.name" 
      autocomplete="off"
      placeholder="Chick Fil A"
      required>
  </div>

  <div class="form-group">
    <label for="">Price</label>
    <input 
      type="number"
      step="0.01" 
      min="0.00"
      placeholder="0.00"
      class="form-control"
      name="price"
      [(ngModel)]="model.price"
      required>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>

</form>
<ngb-alert [type]="'success'" (close)="closeAlert()" [hidden]="!showSuccess">Item added successfully!</ngb-alert>